
.designnewThread {
    width: 100%;
    height: 36em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right bottom, 
    hsl(27, 50%, 95%),
     hsl(26, 86%, 84%));
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  
  .cardnewThread {
      height: 29em;
      width: 40em;
      background-color: hsl(28, 71%, 95%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left:3em;
      border-radius: 1em;
  }
  
  .upCardnewThread {
      height: 4em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      color: rgb(0, 0, 0);
      
      
  
  }
  
  .middleCardnewThread {
      height: 25em;
      width: 30em;
      margin-top: 1em;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      font-size : 1em;
      background-color: hsl(28, 71%, 80%);
      border: 1px solid black;
      border-radius: 1em;
  
  }
  
  .bottomCardnewThread {
      margin-bottom: 1em;
      height: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  .inputnewThread{
    height: 3em;
    width: 20em;
    border: 1px solid black;
    border-radius: 1em;
   } 
  
  .buttonnewThread {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 5em;
    border-radius: 0.5em;
  }
  
  
  
  
  
  

  .topDesignPost{
    height: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itemButtonNewPost {
    height: 3em;
    width: 8em;
    background-color: darkgray;
    margin: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:2em;
}