
.designRegister {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, 
  hsl(27, 50%, 95%),
   hsl(26, 86%, 84%));
}

.cardRegister {
    height: 25em;
    width: 40em;
    background-color: hsl(30, 69%, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:3em;
    border-radius: 1em;
}

.upCardRegister {
    height: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.25rem;
    color: hsl(28, 69%, 30%);
    text-shadow: 1px 1px 1px hsl(28deg 69% 60%);
    
    

}

.middleCardRegister {
    height: 30em;
    width: 20em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size : 1em;
    background-color: darkgray;
    border-radius: 1em;

}

.bottomCardRegister {
    margin-top: 1em;
    height: 6em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.inputRegister{
  height: 3em;
  width: 20em;
  border: 1px solid black;
  border-radius: 1em;
 } 

.buttonRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 8em;
  background-color: hsl(28, 80%, 52%);
  color: hsl(46, 55%, 24%);
  font-weight: bold;
  border-radius: 0.5em;
}





