.designTheme {
    background-color: blue;
    width: 100vw;
    height: 34em;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenidoPosts {
    background-color: lightgray;
    width: 100%;
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.contenidoPosts2 {
    background-color: lightgray;
    width: 100%;
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}