.designNewComment {
    background-color: lightgray;
    width: 100vw;
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonnewComment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 5em;
    border: 1px solid black;
    border-radius: 0.5em;
  }