.designHome {
    /* background-color: lightgray; */
    background-image: linear-gradient(to right bottom, 
    hsl(27, 50%, 95%),
     hsl(26, 86%, 84%));
    font-weight: 600;
    width: 100vw;
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designThemes {
    color: hsl(27, 84%, 98%);
    text-shadow: 1px 1px 2px black,
                 0 0 25px hsl(28, 80%, 10%), 
                 0 0 5px hsl(28, 74%, 5%);
    font-weight: bolder;
    width: 100%;
    height: 100%;
    /* border-top: 2px solid black;
    border-bottom: 2px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3em;

}

.designHomeWelcome h1 {
    color: hsl(28, 69%, 50%);
    text-shadow: 1px 1px 1px hsl(28, 69%, 10%);
    font-size: 2.5rem;
    margin: 2em 2em 1em 2em;
}
.designHomeWelcome h2 {
    color: hsl(28, 69%, 30%);
    text-shadow: 1px 1px 1px hsl(28, 69%, 60%);
    font-size: 1.6rem;
    margin: 0 2em 1em 2em;
}
.designHomeWelcome h3 {
    color: hsl(28, 69%, 30%);
    text-shadow: 1px 1px 1px hsl(28, 69%, 70%);
    font-size: 1.4rem;
    margin: 0 2em 1em 2em;
}

.theme {
    border: 1px solid hsl(28, 66%, 20%);
    height: 5em;
    width: 10em;
    border-radius: 0.5em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.themeEspañola {
    background-image: url(../../img/Bandera-de-España.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: darkgrey;
    cursor: pointer;
    height: 5em;
    width: 10em;
    border-radius: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.themeEspañola:hover {
    color: hsl(28, 74%, 90%);
    font-size: 1.1em;
}

.themeFrancia {
    background-image: url(../../img/Bandera-de-Francia.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: darkgrey;
    cursor: pointer;
    height: 5em;
    width: 10em;
    border-radius: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    transition: 0.2s;
}
.themeFrancia:hover {
    color: hsl(28, 74%, 90%);
    font-size: 1.1em;
}

.themeItalia {
    background-image: url(../../img/Italia.svg);
    background-color: darkgrey;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 5em;
    width: 10em;
    border-radius: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    transition: 0.2s;
}
.themeItalia:hover {
    color: hsl(28, 74%, 90%);
    font-size: 1.1em;
}

.themeMexico {
    background-image: url(../../img/Bandera-de-Mexico.svg);
    background-color: darkgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 5em;
    width: 10em;
    border-radius: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.themeMexico:hover {
    color: hsl(28, 74%, 90%);
    font-size: 1.1em;
}

.themeChina {
    background-image: url(../../img/Bandera-de-China.svg);
    background-color: darkgrey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 5em;
    width: 10em;
    border-radius: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}
.themeChina:hover {
    color: hsl(28, 74%, 90%);
    font-size: 1.1em;
}

.themeAmericana {
    background-image: url(../../img/Bandera-de-Estados-Unidos.svg);
    background-color: darkgrey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 5em;
    width: 10em;
    border-radius: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}
.themeAmericana:hover {
    color: hsl(28, 74%, 90%);
    font-size: 1.1em;
}

.themeInglesa {
    background-image: url(../../img/Bandera-de-Reino-Unido.svg);
    background-color: darkgrey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 5em;
    width: 10em;
    border-radius: 3em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}
.themeInglesa:hover {
    color: hsl(28, 74%, 90%);
    font-size: 1.1em;
}