.designLogin {
  background-color: lightgray;
  width: 100%;
  height: 34em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
/* 
.loginButton {
    width: 9em;
    height: 3em;
    color: white;
    transition: 0.3s;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
} */

/* .espacio{
    width: 10em;
    height: 3em;
    background-color: transparent; 
} */

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonLogin {
  height: 2em;
  width: 5em;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
}

.inputLogin{
  height: 2em;
  width: 15em;
    border-radius: .5em;
    border: 1px solid black;
   
}




/* 
.button.type3 {
  color: #000000;
}
.button.type3.type3::after, .button.type3.type3::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 0.5em solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type3.type3::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-radius: 300px;
}
.button.type3.type3::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #000000;
  border-left-color: #000000;
  border-radius: 300px;
}
.button.type3.type3:hover:after, .button.type3.type3:hover:before {
  border-bottom-color: #ffffff;
  border-right-color: #ffffff;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 300px;
} */

