.designLogin {
  background-color: lightgray;
  width: 100%;
  height: 34em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.cardLogin {
  height: 23em;
  width: 20em;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1em;
}

.designFormulario {
  height: 15em;
  width: 15em;
  background-color: darkgrey;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 1em;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonLogin {
  height: 2em;
  width: 5em;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
}

.inputLogin{
  height: 2em;
  width: 15em;
  border-radius: .5em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}



