.designLogin {
    background-image: linear-gradient(to right bottom, 
    hsl(27, 50%, 95%),
     hsl(26, 86%, 84%));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.cardLogin {
  height: 25em;
  width: 25em;
  background-color: hsl(28, 71%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1em;
}

.designFormulario {
  height: 15em;
  width: 20em;
  background-color: hsl(28, 71%, 80%);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: 1em;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonLogin {
  height: 2em;
  width: 5em;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
}

.inputLogin{
  height: 2em;
  width: 15em;
  border-radius: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}



