.designPost {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    
}

.itemPost {
    height: 15em;
    width: 80%;
    background-color: aqua;
    border: 1px solid black;
    row-gap: 2em;
}