.designPost {
    background-image: linear-gradient(to right bottom, 
    hsl(27, 50%, 95%),
     hsl(26, 86%, 84%));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2em;
    padding: 2em;
}

.itemPost {
    height: 20em;
    width: 80em;
    /* background-color: aqua; */
    row-gap: 2em;
    border: 1px solid hsl(28, 31%, 70%);
    
}

.containerPostUp {
    height: 3em;
    width: 100%;    
    background-color: hsl(28, 71%, 85%);
    display: flex;
    align-items: center;
}

.containerPostDown {
    height: 17em;
    width: 100%;    
    background-color: hsl(26, 73%, 91%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* column-gap: 2em; */
}

.themePosts {
    height: 2em;
    width: 10%;
    background-color: hsl(26, 73%, 75%);
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPostDownGlobal {
    height: 15em;
    width: 99%;
    /* background-color: darkred; */
    display: flex;
    justify-content: space-around;
    column-gap: 1em;
    
}

.containerPostDownGlobalLeft {
    height: 100%;
    width: 20%;
    background-color: hsl(28, 71%, 85%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    
}

.nickname {
    height: 100%;
    width: 95%;
    background-color: hsl(26, 73%, 75%);
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    height: 60%;
    width: 95%;
    background-color: hsl(26, 73%, 75%);
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
} 



.containerPostDownGlobalRight {
    height: 100%;
    width: 80%;
    /* background-color: lightskyblue; */
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.containerPostDownGlobalRightUp {
    font-size: 1.5rem;
    color: hsl(28, 69%, 30%);
    text-shadow: 1px 1px 1px hsl(28deg 69% 60%);
    height: 2em;
    width: 53em;
    background-color: hsl(26, 73%, 75%);
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPostDownGlobalRightMiddle {
    height: 60%;
    width: 95%;
    background-color: hsl(26, 73%, 75%);
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPostDownGlobalRightDown {
    height: 10%;
    width: 95%;
    /* background-color: hsl(26, 73%, 75%); */
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.containerPostDownGlobalRightDownLike {
    height: 100%;
    width: 30%;
    background-color: hsl(26, 83%, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPostDownGlobalRightDownDate {
    height: 100%;
    width: 30%;
    background-color: hsl(26, 83%, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPostDownGlobalRightDownUpdate {
    height: 100%;
    width: 30%;
    background-color: hsl(26, 73%, 75%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.containerPostDownGlobalRightDownUpdateEdit{
    height: 100%;
    width: 20%;
    background-color: hsl(26, 83%, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.containerPostDownGlobalRightDownUpdateDelete{
    height: 100%;
    width: 20%;
    background-color: hsl(26, 83%, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.itemButtonNewPost {
    height: 3em;
    width: 8em;
    color: hsl(28, 90%, 18%);
    background-color: hsl(28, 80%, 52%);
    margin: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:2em;
}


.topDesignPost{
    height: 5em;
    width: 93em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.itemButton {
    height: 2em;
    width: 8em;
    color: hsl(28, 90%, 18%);
    background-color: hsl(28, 80%, 52%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:2em;
}